echo "# literate-palm-tree" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/pengliangkuai/literate-palm-tree.git
git push -u origin master
